/* start admin style*/

* {padding:0px; margin:0px; }
a, a:visited {color:#000;  text-decoration:none;}
a:hover { color:#099; text-decoration:none;}

body {
    background: #fff;
    font-family:Bizon;
    font-size:0.9 em;
    color:#444;

}
#produk {

}
#android_header {
    margin: auto;
    width: 100%;
}
.body_android {
    margin: auto;
    color: blue;
    margin-top: 10px;
    font-family: Bizon;
}
#coba {
    margin: auto;
    background: orange;
    height: 400px;
}
.fade-in-text {
    -webkit-animation: move;
    position:relative;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: 3s;
    -webkit-animation-timing-function: step-start;
    -webkit-animation-delay: 0.5s
}
h3{ height:48px;margin:0;padding:0}
@-webkit-keyframes move {
    0% { margin-top: 0em; }
    25% { margin-top: -48px; }
    50% {margin-top: -96px;}
    75% {margin-top: -144px; }
    100% {margin-top: 0;}
}

h2{
    -webkit-animation: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 3s;
}

@-webkit-keyframes fade {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#wrapper{
    margin:auto;
    width:1200px;
    padding:6px;
    background:#fff;
     padding:10px;
	-moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.75);
	-khtml-box-shadow: 0 0 25px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.75);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.75);
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
     border-radius: 3px;
	 background:transparent;
     border-bottom:10px #099 solid;
     border-top:3px #660d0d solid;
    

}
#login{

    height:auto;
    width:90%;
    padding:10px;
    border-radius:5px;
}

#login_input{

    background:#fff;
	padding:10px;
    height:auto;
    width:100%;
    
    border: 3px #ccc solid;
    border-top:3px #333 solid;
    border-bottom:16px #0096D6 solid;
    border-top: 3px solid #1565c0;
    border-radius:5px;
}

.teksbok_admin{
    

    font-size:20px;
    text-align:center;
    
    border:1px solid #ccc;
    width:100%;
    height:45px;
    border-radius:4px;
}
.btn_submit{
     background:#0096D6;
    width:220px;
    height:60px;
	padding:5px;
    color:#fff;
    font-weight:bold;
    border:1px solid #0096D6;
	border-bottom:3px solid #444;
    }
.btn_submit:hover {
   background:#444;
   color:#fff;
   font-weight:bold;
   cursor:pointer;
   border:1px solid #0096D6;
   border-bottom:3px solid #0096D6;
}
.tombol_login{
     background:#0096D6;
    width:220px;
    height:60px;
	padding:5px;
    color:#fff;
    font-weight:bold;
    border:1px solid #0096D6;
	border-bottom:3px solid #444;
    }
.tombol_login:hover{
   background:#444;
   color:#fff;
   font-weight:bold;
   cursor:pointer;
   border:1px solid #0096D6;
   border-bottom:3px solid #0096D6;
       }

#bg_admin_menu{
    background:#0096D6;
    height:26px;
    width:100%;
    padding-top:5px;
}

}

.adminmenu ul {list-style:none; }
.adminmenu ul li {
    color:#fff;
     float:left;
     margin:3px 2px 0px 10px;
     padding:0px;
     }
.adminmenu ul li a{
     color:#fff;
     }





#head_admin {
    text-align:center;
    background:#fff url(../../gambar/images/logo.png) no-repeat top left;
    height:135px;
    border-bottom:3px #fff solid;
    color:#fff;

    }

#head_admin h1{
    width:auto;
    color:#fff;
    font-family:Cooper Black;
    font-size:3em;
    border:1px solid #fff;
    border-radius:6px;

    }
h2{
    color:#333;
    font-family:Cooper Black;
    font-size:2.4 em;
    }


#bgkonten2 {
    padding:6px;
    height:500px;
    width:63%;
    border: 3px #333 solid;
    border-bottom: 15px #333 solid;
    background:#fff;
    float:left;
    margin-left: 570px;
    margin-top: -750px;
}
.bg_iframe1 {
    width: 100%;
    height: 500px;
    margin: auto;
}
.bg_iframe1 iframe {
    height: 500px;
    width: 100%;
}


#bgkonten {
    padding:6px;
    height:auto;
    width:100%;
    border: 3px #333 solid;
    border-bottom: 15px #333 solid;
    background:#fff;
    float:left;
   
}
.tabelc1_1 {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    border:3px #333 solid;
}
.bgproduct1 td{
text-align: center;
 width: 100%
 border : 1px solid #ccc;
 padding:6px;
}
.btn{
    width:100px;
    height:30px;

    margin-bottom:3px;
    }
.btn:hover{
   background:#333;
   color:#fff;
   font-weight:bold;
   cursor:pointer;
   border-radius:10px;
    }
.texbox{
    height:30px;
    text-align: center;
    width: 100%;
    border:1px #2F4F4F solid;
     border-bottom: 3px #2F4F4F solid;
}
.textarea{
     border:1px #2F4F4F solid;
     border-bottom: 5px #2F4F4F solid;
}

.ganti_pass{
    height:auto;
    width:40%;
    border: 3px #333 solid;
    border-bottom: 15px #333 solid;
    background:#fff;
}
.cleared {clear:both;}

#data_pembeli{
   font-size:20px;
    width:800px;

     padding:6px;
}
#alamat_pembeli{
   font-size:20px;
    width:800px;

     padding:6px;
}

#alamat_order{
    font-size:20px;
    width:800px;
     border-top:1px solid #333;
     padding:6px;
     text-align:center;
}




/* end admin style*/
